# soldered 50MHz Clock.
NET "CLK_50" LOC = "C9" | IOSTANDARD = LVTTL;
NET "CLK_50" PERIOD = 20.0ns HIGH 50%;
...
#
# Push-buttons (Press = Hi)
#
#NET "btn_north" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN;
NET "RESET"  LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;
NET "CHANGE_DIR" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;
#NET "CHANGE_DIR"  LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
...
# RS-232 Serial Port: DCE
NET "RS_RX" LOC = "R7" | IOSTANDARD = LVTTL ;
NET "RS_txd" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;
...