//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 19 09:15:06 2023
//! **************************************************************************

SCHEMATIC START;
COMP "CHANGE_DIR" LOCATE = SITE "K17" LEVEL 1;
PIN CHANGE_DIR_pin<0> = BEL "CHANGE_DIR" PINNAME PAD;
PIN "CHANGE_DIR_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RESET" LOCATE = SITE "H13" LEVEL 1;
COMP "RS_RX" LOCATE = SITE "R7" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "M18" LEVEL 1;
COMP "sf_ce" LOCATE = SITE "D16" LEVEL 1;
COMP "CLK_50" LOCATE = SITE "C9" LEVEL 1;
COMP "RS_txd" LOCATE = SITE "M14" LEVEL 1;
COMP "lcd_d<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "lcd_d<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "lcd_d<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "lcd_d<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "L18" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "L17" LEVEL 1;
NET "CHANGE_DIR_BUFGP/IBUFG" BEL "CHANGE_DIR_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "CLK_50_BUFGP/IBUFG" BEL "CLK_50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_50_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

